[Desktop Entry]
Comment=Removal tool for obsolete system kernels
Comment[en]=Removal tool for obsolete system kernels
Comment[en_GB]=Removal tool for obsolete system kernels
Comment[es]=Herramienta para quitar los kernels obsoletos
Comment[es_ES]=Herramienta para quitar los kernels obsoletos
Comment[fr_FR]=Outil de suppression des noyaux système obsolètes
Comment[ru]=Инструмент для удаления устаревших ядер системы
Exec=/usr/sbin/remove-old-kernels-pkexec
GenericName=Remove Old Kernels
GenericName[en]=Remove Old Kernels
GenericName[en_GB]=Remove Old Kernels
GenericName[es]=Retirar Kernels Obsoletos
GenericName[es_ES]=Retirar Kernels Obsoletos
GenericName[fr]=Enlever les noyaux superflus
GenericName[fr_FR]=Enlever les noyaux superflus
GenericName[ru]=Удаление старых ядер
Icon=/usr/share/icons/hicolor/scalable/apps/remove-old-kernels.svg
MimeType=
Name=Remove Old Kernels
StartupNotify=true
Terminal=true
Type=Application
Categories=System;Utility;X-Mageia-CrossDesktop;
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KeepTerminal=false
